<div class="container px-5 px-sm-0">
  <div class="row my-4">
    <div class="col-12">
      <h2>商品詳細</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 p-5">
      <%= image_tag @item.get_item_image(300, 300), class: 'item_image' %>
    </div>
    <div class="col-md-8 p-5">

      <table class="table table-borderless">
        <tbody>
          <tr>
            <th style="width: 30%;">商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @item.text %></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <th style="width: 30%;">ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <th style="width: 30%;">生産地</th>
            <td><%= @item.producing_area&.name %></td>
          </tr>
          <tr>
            <th>税込価格(税抜価格)</th>
            <td><%= (@item.non_taxed_price * 1.1).to_i %>(<%= @item.non_taxed_price %>)円</td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <% if @item.is_active == true %>
              <td><strong style="color: green;">販売中</strong></td>
            <% else %>
              <td><strong style="color: gray;">販売停止中</strong></td>
            <% end %>
          </tr>
          <tr>
            <th style="width: 30%;">いいね数</th>
            <td><%= @item.favorites.count %> いいね</td>
          </tr>
        </tbody>
      </table>
      <%= link_to '編集する', edit_admin_item_path(@item), class:"btn btn-success ml-3" %>
    </div>
<div class="col-8 mx-auto">
  <div>
    <p>コメント件数：<%= @item.item_comments.count %></p>
    <div class="d-flex flex-column" style="height: 200px;">
<% @item.item_comments.each do |item_comment| %>
  <p>
    <%= item_comment.customer.last_name %>　<%= item_comment.customer.first_name %>
    <%= item_comment.created_at.strftime('%Y/%m/%d') %>
  </p>
  <%= item_comment.comment %>

    <%= link_to "削除", item_item_comment_path(@item, item_comment), class: 'text-right', method: :delete %>
<% end %>
    </div>
  </div>
  
</div>
  </div>
</div>