<div class='container pt-5'>
  <div class='row'>
    <div class='col-12 text-center'>
      <h1 class='display-4'>醤油や味噌の様々な種類</h1>
      <p class='text-large pt-4 pt-md-5 pb-3'>
        Hishioは醤油、味噌のみを扱う通販サイトになります。<br>
        味噌や醤油は種類や生産地によって様々な味や風味の違いがあります。<br>
        このページでは味噌や醤油の種類によってどのような違いがあるのか確認できます。<br>
        全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        地元の懐かしの味から新しいこだわりの味の発見などたくさんの人が楽しめるように、<br>
        様々なバリエーションを用意しております。<br>
        ぜひご注文ください。
      </p>
      <h1 class='display-5'>原料による味噌の違い</h1>
      <p class='text-large pt-4 pt-md-5 pb-3'>
        味噌は原料の麹の種類により「米味噌」「麦味噌」「豆味噌」に分類され、</br>
        さらに複数の味噌を混ぜ合わせた「調味味噌」という種類もあります。
      </p>
      <ul class="slider3">
        <li>
          <%= image_tag 'miso1.jpg', alt: "Image Alt Text" %>
          <h5>米味噌</h5>
          <p>米味噌は発酵の過程で甘味が増し、<br>まろやかな風味が特徴です。<br>大豆味噌と比べて口当たりが柔らかく、<br>食べやすい味わいがあります。<br>塩分濃度は5～13％のものが大半です。</p>
        </li>
        <li>
          <%= image_tag 'miso2.jpg', alt: "Image Alt Text" %>
          <h5>麦味噌</h5>
          <p>麦味噌は一般的に濃い風味があり、<br>深い味わいが特徴です。<br>そのため、料理に絶妙なコクを<br>加えることができます。<br>塩分濃度は9～13％程度です。</p>
        </li>
        <li>
          <%= image_tag 'miso3.jpg', alt: "Image Alt Text" %>
          <h5>大豆味噌</h5>
          <p>大豆味噌は力強い味わいが<br>特徴的であり香りは複雑で、<br>発酵によって生まれたアロマを<br>感じることができます。<br>塩分濃度は約10～12％です。</p>
        </li>
        <li>
          <%= image_tag 'miso4.jpg', alt: "Image Alt Text" %>
          <h5>調合味噌</h5>
          <p>米味噌、麦味噌、豆味噌を<br>複数混ぜ合わせたり、<br>複数の麹を混合したりして作られる<br>味噌を調合味噌と呼びます。<br>マイルドな味わいのものが主流です。</p>
        </li>
      </ul>
      <p class='text-large pt-4 pt-md-5 pb-3'>
        それぞれの味噌には地域ごとに製法や伝統に基づく違いがあります。<br>
        地域性が反映され、各地の特色が感じられます。
      </p>
      <h1 class='display-5'>醤油の種類</h1>
      <p class='text-large pt-4 pt-md-5 pb-3'>
        白→淡口→濃口→再仕込→溜</br>
        醤油は一般的に上記の5つに分類されます。</br>
        左から順に熟成期間が長くなっていき、</br>
        白に近づくにつれ素材を生かす味わいになり、溜に近づくにつれうま味を添える味わいになります。
      </p>
      <ul class="slider3">
        <li>
          <%= image_tag 'syoyu1.jpg', alt: "Image Alt Text" %>
          <h5>白醤油</h5>
          <p>白醤油は通常、一般の醤油よりも<br>透明であり、薄い色合いをしています。<br>うま味が抑えてあるので基本的には<br>料理に使っていただくのがおすすめです。</p>
        </li>
        <li>
          <%= image_tag 'syoyu2.jpg', alt: "Image Alt Text" %>
          <h5>淡口醤油</h5>
          <p>淡口醤油は一般の濃口醤油よりも<br>淡い色合いをしています。<br>穏やかな味わいのため和食だけでなく、<br>洋食や中華料理など幅広いジャンルの<br>料理に適しています。</p>
        </li>
        <li>
          <%= image_tag 'syoyu3.jpg', alt: "Image Alt Text" %>
          <h5>濃口醤油</h5>
          <p>一般的な醤油で、流通量の8割はこれで<br>東日本ではほとんどが濃口醤油です。<br>濃厚でコクがある味わいがあり、<br>料理からたれまで使用でき、<br>とにかく万能です。</p>
        </li>
        <li>
          <%= image_tag 'syoyu4.jpg', alt: "Image Alt Text" %>
          <h5>再仕込醤油</h5>
          <p>熟成期間の長い濃厚な醤油です。<br>味と香りのバランスがよく、<br>濃口と溜の間に位置するような<br>味わいで、つけ醤油として<br>万人受けする傾向があります。</p>
        </li>
        <li>
          <%= image_tag 'syoyu5.jpg', alt: "Image Alt Text" %>
          <h5>溜醤油</h5>
          <p>5つの醤油の中で最も熟成期間が長く、<br>色が濃くてとろみと独特の香りが<br>特徴の醤油です。そのまま<br>つけ醤油としてはもちろん、<br>照り焼きなどにも好評です。</p>
        </li>
      </ul>
    </div>
  </div>
</div>