<div class='container'>
 <div class="row">
  <div class="col-xs-9">
   <p>ようこそ、ながのCAKEへ！</p><br>
   <p>このサイトは、ケーキ販売のECサイトになります。</p><br>
   <p>会員ではない方も商品の閲覧はできますが、</p><br>
   <p>購入には会員登録が必要になります。</p><br>
   <div class="row item-card">
    <h3>新着商品</h3>
    <% @items.each do |item| %>
 　　<%= link_to item_path(item.id) do %>
    <div class="thumbnail item-thumbnail col-xs-2">
     <%= image_tag item.image, size:'300x200' %>
     <div class="item detail">
      <p><%= item.name %></p>
      <p><%= "#{item.non_taxed_price}円" %></p>
      <% if item.is_active == false %>
      <p class="item-sales-status">売り切れ</p>
      <% end %>
     </div>
    </div>
    <% end %>
    <% end %>
   </div>
   <p style="text-align: right;"><%= link_to '全ての商品を見る＞', items_path %></p>
  </div>
 </div>