<div class="container px-sm-0 px-5" >
  <% if @range == "会員" %>
    <div class="row my-4">
      <h3>会員検索結果</h3>
    </div>
    <div class="row">
      <table class="table tabel-hover">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @records.each do |customer| %>
            <tr>
              <td> <%= customer.id %> </td>
              <td>
                <%= link_to admin_customer_path(customer) do %>
                  <%= customer.last_name + customer.first_name %>
                <% end %>
              </td>
              <td><%= customer.email %></td>
              <% if customer.is_active == true %>
                <td><strong style="color: green;">有効</strong></td>
              <% else %>
                <td><strong style="color: gray;">退会</strong></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class='container'>
        <div class="d-flex justify-content-center">
          <div class="mx-auto">
            <%= paginate @records %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row my-4">
      <h3>商品検索結果</h3>
    </div>
    <div class="row">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @records.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td>
                <%= link_to admin_item_path(item) do %>
                  <%= item.name %>
                <% end %>
              </td>
              <td><%= item.non_taxed_price %></td>
              <td><%= item.genre.name %></td>
              <% if item.is_active == true %>
                <td><strong style="color: green;">販売中</strong></td>
              <% else %>
                <td><strong style="color: gray;">販売停止中</strong></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class='container'>
        <div class="d-flex justify-content-center">
          <div class="mx-auto">
            <%= paginate @records %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>