<div class="container mt-5">
  <% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% elsif flash[:danger] %>
  <div class="alert alert-danger">
    <%= flash[:danger] %>
  </div>
<% end %>
    
      <h4><span class="w-25 mt-5">配送先編集</span></h4>
    

<%= form_with model: @address, url:address_path(@address), method: :patch, local: true do |f| %>
     
        <div class='form-group row'>
            <label for='zip_code' class="col-3 offset-md-2">郵便番号(ハイフンなし)</label>
            <div class='col-sm-2'><%= f.text_field :zip_code, class: "form-control"%></div>
        </div>
        
        <div class='form-group row'>
            <label for='zip_code' class="col-3 offset-md-2">住所</label>
            <div class='col-sm-2'><%= f.text_field :address, class: "form-control" %></div>
        </div>
        
        <div class='form-group row'>
            <label for='zip_code' class="col-3 offset-md-2">宛名</label>
            <div class='col-sm-4'><%= f.text_field :name, class: "form-control"%></div>
        </div>
          <div class="form-group row">
    <div class="col-sm-2 mb-3 mx-auto">
      <%= f.submit "変更内容を保存", class:"btn btn-success w-auto" %>
    </div>
  </div>

 <% end %>
     
 </div>
</div>