<div class="container mx-auto px-sm-0">
  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% elsif flash[:danger] %>
    <div class="alert alert-danger">
      <%= flash[:danger] %>
    </div>
  <% end %>
  
  <div class="row-12 my-4 mx-auto">
    <h3>生産地一覧・追加</h3>
  </div>
    <div class="row-12 mx-auto">
    <div class="col-8 mx-auto">
      <div class="d-flex align-items-center">
        <h4 class="ml-5 pl-5">ジャンル</h4>
        <div class='ml-5 pl-5'>
        <%= link_to "一覧を見る", admin_genres_path, class: "btn btn-primary", style: "width: 150px;" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row-12 mx-auto">
    <div class="col-md-8 mx-auto px-sm-0">
      <%= form_with model: @producing_area, url: admin_producing_areas_path do |f| %>
      <table class="table table-borderless">
        <tbody>
            <tr>
              <th>生産地</th>
              <td><%= f.text_field :name, class:"form-control" %></td>
              <td><%= f.submit '新規作成', class:"btn btn-success" %></td>
              <td></td>
            </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>

  <div class="row px-sm-0 mx-6">
    <div class="col-md-5 mx-auto px-sm-0">
      <table class="table">
        <thead class="table-secondary border-dark">
          <tr>
            <th class="border-dark">生産地一覧</th>
            <th class="border-dark"></th>
          </tr>
        </thead>
        <tbody>
          <% @producing_areas.each do |producing_area| %>
            <tr>
              <td class="border-dark"><%= producing_area.name %></td>
              <td class="border-dark"><%= link_to "編集する", edit_admin_producing_area_path(producing_area), class: "btn btn-sm btn-success" %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>